$bg-color : #c4c3bc;
$hover-color: rgb(255, 255, 255);
$regular    : 400;
$medium     : 500;
$serif-font : 'Playfair Display',
serif;
$large-font      : 4.5rem;
$extra-large-font: 6rem;
$arrow-width     : 1.1rem;
$line-length     : 2.2rem;